.forms {
  display: block;
}

.formwrapper {
  padding: 20px 10px 0px 10px;
  border-bottom: 1px solid slategray;

  display: flex;
  justify-content: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 400px;
  column-gap: 10px;
  row-gap: 10px;
  padding: 40px;
}

@media (min-width: 600px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .forms {
    display: flex;
  }

  .formwrapper {
    padding: 20px 10px 0px 10px;
    border-bottom: 0px;
    border-right: 1px solid slategray;
  }
}

@media (min-width: 1400px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1600px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 2000px) {
  .list {
    grid-template-columns: repeat(5, 1fr);
  }
}
