.card {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 5px;

  color: white;
  border: 1px solid #991788;
  border-radius: 10px;
}

.image {
  width: 100%;
  max-height: 200px;
  border-radius: 10px 10px 0 0;
}

.name {
  position: absolute;
  align-self: center;
  width: 80%;
  padding: 2px;

  text-align: center;
  margin: 0;

  border-top: none;
  border-radius: 0 0 10px 10px;

  background-color: #991788;
  color: white;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottomImage {
  width: 40px;
  height: 40px;
}
