body,
html {
  margin: 0;
  min-height: 100vh;
}

#root,
.app {
  min-height: 100vh;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

fieldset {
  border: none;
}

.active {
  color: #991788;
}

.page {
  max-width: 100%;
  min-height: 100vh;

  background-color: #2c3439;
  color: white;
}

.input {
  padding-left: 10px;
  border: 1px solid #991788;
  border-radius: 10px;
}

.input:focus {
  outline: none;
}

.button {
  border-radius: 10px;
  border: none;
  width: 100px;
  height: 30px;

  color: white;
  background-color: #991788;
}

.button:hover {
  cursor: pointer;
  background-color: #c30dab;
}
