body,
html {
  margin: 0;
  min-height: 100%;
  height: 100%;
}

#root,
.app {
  min-height: 100%;
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.active {
  color: #991788;
}

.page {
  max-width: 100%;
  min-height: 100%;

  background-color: #2c3439;
  color: white;
}
